body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: center;
  background-color: burlywood;
  width: 100%;
  height: 50px;
  color: white;
  position: absolute top;
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: burlywood;
  width: 100%;
  height: 50px;
}
footer img {
  height: 30px;
  padding: 10px;
}
.footer_left {
  color: white;
  font-weight: bold;
}
.footer_left a {
  text-decoration: none;
  color: white;
}
nav ul {
  margin: 0;
  padding: 20px;
  list-style-type: none;
  text-align: right;
}
nav li {
  display: inline;
  padding: 20px;
}
nav li a {
  text-decoration: none;
  color: black;
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 750px;
  margin: 0 auto;
  justify-content: space-between;
  letter-spacing: 1px;
}
.header {
  display: flex;
  border-bottom: 2px solid black;
}
.photo {
  align-self: center;
  margin: 20px;
}
.photo img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.contacts {
  margin: 20px;
}
.contacts a {
  text-decoration: none;
  color: black;
}
.contacts h4 {
  margin: 0;
  padding-bottom: 20px;
}
.contacts ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.about {
  border-bottom: 2px solid black;
}
.skils {
  border-bottom: 2px solid black;
}
.education {
  border-bottom: 2px solid black;
}
.code {
  border-bottom: 2px solid black;
}
.code pre {
  padding: 20px 0px;
  font-weight: bold;
  background-color: rgba(222, 184, 135, 0.5);
}
.experience {
  border-bottom: 2px solid black;
}